<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/instructor-layout :: head">
</head>

<body>
  <header th:replace="fragments/layouts :: header">
  </header>
  <main class="container my-3">
    <h3 class="pb-3">Create new course</h3>
    <form th:action="@{/instructor/course/saveCourse}" method="post" th:object="${course}">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{username}" />
    <div></div>
    	<div th:if="${param.error}">
    		<p class="text-danger" th:text="${param.error}"></p>
    	</div>
      <!-- Course Name -->
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label text-md-end">Course Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" required th:field="*{name}">
        </div>
      </div>
      <!-- Description -->
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label text-md-end">Description</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" required th:field="*{description}">
        </div>
      </div>
      <!-- Save change button -->
      <div class="mb-3 row">
        <div class="offset-sm-2 col-sm-6">
          <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save changes</button>
          <a th:href="@{/instructor/}" class="btn btn-dark"><i class="fa fa-window-close"></i> Cancel</a>
        </div>
      </div>
    </form>
  </main>

  <footer th:replace="fragments/layouts :: footer">
  </footer>
</body>

</html>