<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/admin-layout :: head">
</head>

<body>
	<header th:replace="fragments/layouts :: header"> </header>
	<main class="container my-3">
		<h3 class="pb-3">Create Quiz</h3>
		<h3 class="pb-3" th:text="${module.name}"></h3>

		<form th:action="@{/instructor/quiz/createQuiz}" method="post"
			th:object="${quiz}">
			<input hidden th:name="moduleId" th:value="${module.id}">
			<input type="hidden" th:field="*{id}" />
			<div th:if="${param.error}">
				<p class="text-danger" th:text="${param.error}"></p>
			</div>
			<!-- Course Name -->
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label text-md-end">Quiz Name:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" required th:field="*{name}">
				</div>
			</div>
			<!-- Course Name -->
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label text-md-end">Time Allow (Minute):</label>
				<div class="col-sm-6">
					<input type="number" min="1" max="180" class="form-control" required th:field="*{timeAllow}">
				</div>
			</div> 

			<!-- Save change button -->
			<div class="mb-3 row">
				<div class="offset-sm-2 col-sm-6">
					<button type="submit" class="btn btn-success">Continue</button>
					<a th:href="@{'/instructor/moduleDetails/?moduleId=' + ${module.id}}" class="btn btn-danger">Cancel</a>
				</div>
			</div>
		</form>



		

	</main>

	<footer th:replace="fragments/layouts :: footer"> </footer>
	<script th:src="@{/js/addQuizDetails.js}" async defer></script>
</body>

</html>