<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layouts :: head">

<title>Home page</title>
</head>

<body>
	<header th:replace="fragments/layouts :: header"></header>

	<main class="container my-3">
		<div class="d-md-flex">




			<!-- col content -->
			<aside id="content-col" class="mobile-col-content pe-md-3">
				<!-- course overview-->
				<div id="course-overview" class="pb-4">
					<h3 th:text="${welcome}"></h3>
					<hr>
					<!-- 1 course-->
					<div th:each="module : ${course.modules}">
						<h4 th:text="${module.name}"></h4>
						<div class="course">
							<h5>Content</h5>
							<div th:each="content : ${module.contents}">
								<a th:href="@{'/course/api/download/' + ${content.id}}">
									<p class="offset-1" th:text="${content.name}"></p>
								</a>
							</div>
							<h5>Quiz</h5>
							<div th:each="quiz : ${module.quizzes}">
								<a th:href="@{'/quiz/attempt/?quizId=' + ${quiz.id}}">
									<p class="offset-1" th:text="${quiz.name}"></p>
								</a>
							</div>
						</div>
						<hr>
					</div>
					<a th:href="@{/}" class="btn btn-secondary">Back</a>
			</aside>


			<!-- col trái-->
			<aside th:replace="fragments/layouts :: left-col" id="left-col">
				
			</aside>
		</div>
	</main>

	<footer th:replace="fragments/layouts :: footer"></footer>
	<!-- popper-->
	<!-- Jquery-->

</body>

</html>