<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layouts :: head">

<title>Home page</title>
</head>

<body>
	<header th:replace="fragments/layouts :: header"></header>

	<main class="container my-3">
		<div class="d-md-flex">
			<!-- col content -->
			<aside id="content-col" class="mobile-col-content pe-md-3">
				<!-- course overview-->
				<div id="course-overview" class="pb-4">
					<h3>Course Overview</h3>
					<div th:if="${enrollments != null and !enrollments.isEmpty()}">
						<div th:each="enrollment : ${enrollments}">
							<!-- 1 course-->
							<div class="course">
								<a th:href="@{'/course/?courseId=' + ${enrollment.course.id}}">
									<h4 th:text="${enrollment.course.name}"></h4>
								</a>
								<p>You have assignment that need attention</p>
							</div>
						</div>
					</div>
					<div th:unless="${enrollments != null and !enrollments.isEmpty()}">
						<h5 class="text-danger">You have not enrolled any course yet!</h5>
					</div>
				</div>
			</aside>
			<!-- col trái-->
			<aside th:replace="fragments/layouts :: left-col" id="left-col"
				class="mobile-col pe-md-3"></aside>
			<!-- col pháº£i-->
			<aside th:replace="fragments/layouts :: right-col" id="right-col" class="mobile-col">
			</aside>
		</div>
	</main>




	<footer th:replace="fragments/layouts :: footer"></footer>
	<!-- popper-->
	<!-- Jquery-->

</body>

</html>